<div class="form">
  <h2>Login</h2>
  <%= form_for(:session, url: login_path) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <!--<div class="action">-->
      <!--%= f.label :remember_me %>-->
      <!--%= f.check_box :remember_me %>-->
      <!--<span>Remember me</span>-->
      <!--</div>-->

      <div class="action">
        <%= f.submit 'Log in' %>
        <!--% redirect_to customers_url %>-->
      </div>

      <%= link_to 'Back', customers_path %>
  <% end %>
</div>